.link > a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    bottom:0px;

}
.link > a:hover{
    font-size: 25px;
}
.aviso{
    display: none;
    color: red;
    font-size:13px; 
}
.link{
     position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}
#campos .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {

    min-width: 100px;
    max-width: 100px;

}